*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.navStyle{
    width: 100%;
    min-height:10vh ;
    background: red;
}
nav{
    width: 98%;
    min-height: 10vh;
    margin: auto;
    background: blue;
}