*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}

.navStyle{
    position: relative;
    width: 100%;
    min-height:10vh ;
    background: rgb(89,136,139);
    background: linear-gradient(317deg, rgb(119, 169, 173) 0%, rgb(93, 136, 161) 100%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 100;
}
nav{
    position: relative;
    width: 95%;
    min-height: 10vh;
    margin: auto;
    color: white;
    
}
nav a{
    color: white;
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2.8rem;
}
h3{
    font-size: 2.8rem;
}
p,a{
    font-size: 2.5rem;
}

nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    flex: 1 1 30rem;
    justify-content: space-between;
}
nav h1{
    display: flex;
    flex: 1 1 30rem;
}
.hero{
    position: relative;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(317deg, rgb(162, 235, 241) 0%, rgba(48,77,94,1) 100%);
}
.heroText{
    flex: 1 1 30rem;
    text-align: justify;
    padding-left: 5rem;
    width: 4rem;
    
}
.hero img{
    height: 80vh;
    flex: 1 1;
}

.heroText p{
    padding-top: 10vh;
    color: white;
    text-shadow: rgb(3, 5, 16) 1px 0 10px;
}
.heroText h1{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgb(3, 5, 16) 1px 0 10px;
}

#pachete a{
    text-shadow: rgb(3, 5, 16) 1px 0 10px;
    transition: all 0.5s ease-in-out;
    margin-left: 15px;
    margin-right: 15px;
}


#pachete:hover{
    transition: all 0.5s ease-in-out  ;
    
    border-radius: 3rem;
    background: rgb(25, 70, 83);
    text-align: center;
}

#despre{
    min-height: 100vh;
}